* {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.56rem;
    user-select: none;
}

table {
    width: 350px;
    height: 350px;
    cursor: pointer;
    background-color: black;
}

td {
    padding: 10px 15px;
    border: 1px solid rgba(128, 128, 128, 0.671);
    background-color: #000000;
    width: 80px;
    height: 80px;
    font-weight: bolder;
    font-size: 20px;
}

.bttn {
    transition: all 0.5s;
}

.bttn:hover {
    background-color: white;
    transition: ease-in-out 0.4s;
    color: #ffffff;
}

.lastActived {
    background-color: rgb(102, 174, 241);
}

p {
    width: 350px;
    height: 70px;
    background-color: #000000;
    color: royalblue;
    border: 1px solid rgba(128, 128, 128, 0.671);
    border-radius: 5px;
    margin: auto;
}

/*correction 
table * {
    cursor:pointer;
}
table tr {
    display:flex;
}

table td {
    width: calc(400px / 3);
    height: calc(400px/ 3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color #3f3b3b;
    color: #ffff;
*/

#delete {
    color: #ffffff;
}

#delete:hover {
    background-color: red;
}

.valid {
    background-color: rgb(34, 255, 34);
    color: #ffffff;
}

.unvalid {
    background-color: rgb(230, 0, 0);
    color: #ffffff;
    border: 1px white solid;
}